*~
*.pyc
venv/
gateway/build/
gateway/.gradle/
.gradle/

**/data
**/test_data
**/boost
*.class

*.err
*.out
*.jar

.ipynb_checkpoints/
*.tar.gz

docs/build/
docs/source/examples/

docs/*.owl
docs/*.tsv

family/
ppi_yeast_slim/
ppi_yeast/
gda_human/
gda_mouse/
gda_human_el/
gda_mouse_el/

build/
dist/

.coverage