*~
*.pyc
venv/
gateway/build/
gateway/.gradle/
.gradle/

**/data
**/test_data
**/boost
*.class

*.err
*.out

.ipynb_checkpoints/
*.tar.gz

docs/build/


docs/*.owl
docs/*.tsv

family/
ppi_yeast_slim/
ppi_yeast/
gda_human/
gda_mouse/
gda_human_el/
gda_mouse_el/

mowl_borg.egg-info/

build/
dist/

.coverage
*.pickle
*.zip
*.log

docs/source/api/mowl.*

**/wandb